<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title?title:'Login Page' -%></title>
    
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <!-- bootstrap css -->
    <!-- customized css -->
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>